input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.card-div {
  width: 25%;
}

.card-div-img {
  height: 17rem;
  overflow: hidden;
  padding: 4px;
}

.card-main {
  height: 460px;
}

@media screen and (max-width: 992px) {
  .card-div {
    width: 33%;
  }

  .card-div-img {
    height: 13rem;
  }

  .card-main {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .card-div {
    width: 50%;
  }

  .card-div-img {
    height: 15rem;
  }

  .card-main {
    height: 450px;
  }
}
@media screen and (max-width: 425px) {
  .card-div {
    width: 100%;
  }
}

.some-text {
  font-size: 1rem;
}

#main-menu {
  display: block;
}

@media screen and (max-width: 768px) {
  #main-menu {
    display: none;
  }
}

#mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #mobile-menu {
    display: block;
  }
}
